.numbers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    align-content: center;
    background-color: hsl(223, 31%, 20%);
    padding: 1rem;
    border-radius: 5px 5px 0 0;
}