.operations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    background-color: hsl(223, 31%, 20%);
    padding: 1rem;
    padding-top: 0;
    border-radius: 0 0 5px 5px;
}